<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body bgcolor="black">
<h1 style="color:#ff9b17;" align="left">PERFORM</h1>
<form action="/home">

    <table style="width:100%" align="center"  cellpadding="0" cellspacing="0" border="0">

    <tr>
    <th>

    </th>
<td>
      <div>
        <button type="submit" value="Submit">HISTORICAL DATA</button>

    </div>
</td>
</tr>
    </table>
</form>






<form action="/sma">

    <table style="width:100%" align="center"  cellpadding="0" cellspacing="0" border="0">

    <tr>
    <th>

    </th>
<td>
      <div>
        <button type="submit" value="Submit">MOVING AVERAGE</button>

    </div>
</td>
</tr>
    </table>
</form>
</body>
</html>