<!DOCTYPE html>
<html>
<body bgcolor="black">
<title>TWS_MNS</title>
<h1 style="color:#ff9b17;" align="center">TWS_MNS</h1>
<form action="/movingg" method="post">
<h1 style="color:#ff9b17;" align="center">GET MOVING AVERAGE</h1>
    <table style="width:100%" align="left"  cellpadding="0" cellspacing="0" border="0">
<tr>

    <div>
        <th><font color="white">MOVING AVERAGE </font></th>
        <td><input name="ma" type="text" /></td>
    </tr>

         <tr>
                    <th><font color="white">FILE NAME </font></th>

        <td><input name="fname1" type="text" />
       </td>

        </tr>
        <tr>
            <th><font color="white">CHOOSE DIRECTORY</th>
            <td><select name="dir1">
  <option value="D:/">D:/</option>
  <option value="C:/">C:/</option>
  <option value="E:/">E:/</option>
</select></td>

        </tr>

         <tr>
                    <th><font color="white">FILE NAME </font></th>

        <td><input name="fname2" type="text" />
       </td>

        </tr>
        <tr>
            <th><font color="white">CHOOSE DIRECTORY</th>
            <td><select name="dir2">
  <option value="D:/">D:/</option>
  <option value="C:/">C:/</option>
  <option value="E:/">E:/</option>
</select></td>

        </tr>



                <tr>

                <th></th>
<td>
    <div>
        <button type="submit" value="Submit">FETCH MA</button>

    </div>
            </div>
       </td>
       </tr>

</table>
</form>
</body>
</html>




















