<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <h2>FETCHED MOVING AVERAGE</h2>
</head>
<body bgcolor="black">
<form action="/plot" method="post">
<h1 style="color:#ff9b17;" align="center">PLOT</h1>
    <table style="width:100%" align="left"  cellpadding="0" cellspacing="0" border="0">
        <tr>
            <th><font color="white">1.</th>
            <td><select name="yaxis1">
  <option value="open">open</option>
  <option value="close">close</option>
  <option value="MOVING_AVG">MOVING_AVG</option>
</select></td>

        </tr>

               <tr>
            <th><font color="white">2.</th>
            <td><select name="yaxis2">
  <option value="open">open</option>
  <option value="close">close</option>
  <option value="MOVING_AVG">MOVING_AVG</option>
</select></td>

        </tr>



                  <tr>

                <th></th>
<td>
    <div>
        <button type="submit" value="Submit">PLOT</button>

    </div>
            </div>
       </td>
       </tr>

</table>
</form>
</body>
</html>





</body>
</html>